<div class="box">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2>Register</h2>

    <div class="inputBox center">
      <select class="form-select" aria-label="Default select example" formControlName="tipousuario" required>
        <option selected value=""> Tipo de Usuario</option>
        <option value="1">Empresa</option>
        <option value="2">Cliente</option>
      </select>
      <i></i>
    </div>

    <div class="flex">
      <div class="inputBox">
        <input type="text" required="" formControlName="username">
        <span>Username</span>
        <i></i>
      </div>
      <div>
        <div class="inputBox">
          <input type="password" required="" autocomplete="off" formControlName="password">
          <span>Password</span>
          <i></i>
        </div>
        <span *ngIf="this.registerForm.get('password')?.errors?.['minlength']?.requiredLength" class="errors">
          minimo 6 caracteres
        </span>
      </div>
    </div>

    <div class="flex">
      <div class="inputBox">
        <input type="text" required="" autocomplete="off" formControlName="nombre">
        <span>Nombre</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="text" required="" autocomplete="off" formControlName="apellido">
        <span>Apellido</span>
        <i></i>
      </div>
    </div>

    <div class="flex">
      <div class="inputBox">
        <input type="number" required="" formControlName="celular">
        <span>Celular</span>
        <i></i>
      </div>
      <div>
        <div class="inputBox">
          <input type="gmail" required="" formControlName="email">
          <span>Email</span>
          <i></i>
        </div>

        <span *ngIf="this.registerForm.get('email')?.errors?.['email']" class="errors">
          Email invalido
        </span>
      </div>
    </div>
    <div class="links">
      <span></span>
      <a routerLink="/auth/login">Login</a>
    </div>
    <input type="submit" value="Register" routerLink="/admin/listar" class="center" [disabled]="registerForm.invalid"
      [ngClass]="registerForm.invalid ?  'desactive': '' ">
  </form>
</div>
