<div class="sidebar-header">
  <h3 class="brand">
    <span class="ti-unlink"></span>
    <span>Admin</span>
  </h3>

  <label for="sidebar-toggle"><mat-icon>menu </mat-icon></label>
</div>
<div class="sidebar-menu">
  <ul>
    <li routerLink="/admin/listar" routerLinkActive="activelink" [routerLinkActiveOptions]="{exact: true}">
      <a>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li routerLink="/admin/listarusuario" routerLinkActive="activelink" *ngIf="rolSuperAdmin()">
      <a>
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
      </a>
    </li>
    <li routerLink="/admin/listarhoteles" routerLinkActive="activelink" *ngIf="rolSuperAdmin()">
      <a>

        <mat-icon>hotel</mat-icon>
        <span>Hoteles</span>
      </a>
    </li>

    <li routerLink="/admin/listarhotel" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>

        <mat-icon>hotel</mat-icon>
        <span>Hotel</span>
      </a>
    </li>
    <li routerLink="/admin/listarbares" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>
        <mat-icon aria-hidden="false">sports_bar</mat-icon>
        <span> Bares</span>
      </a>
    </li>
    <li routerLink="/admin/listarcocheras" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>
        <mat-icon>garage</mat-icon>
        <span>Cocheras</span>
      </a>
    </li>
    <li routerLink="/admin/listarpicina" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>
        <mat-icon>pool</mat-icon>
        <span>Picinas</span>
      </a>
    </li>
    <li routerLink="/admin/listargaleria" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>
        <mat-icon>collections_bookmark</mat-icon>
        <span> Galerias</span>
      </a>
    </li>
    <li routerLink="/admin/listarprecios" routerLinkActive="activelink" *ngIf="rolAdmin()">
      <a>
        <mat-icon>price_change</mat-icon>
        <span> Precios</span>
      </a>
    </li>
  </ul>
</div>
